<!DOCTYPE html>
<html>
  <head>
    <title>{{{title}}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body class="container">
    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="javascript:;">主页</a></li>
        <li role="presentation" ><a href="/picture">图片查询</a></li>
        <li role="presentation" ><a href="javascript:;">关于</a></li>
    </ul>
    <script src='/js/jquery.min.js'></script>
    <script src='/js/bootstrap.min.js'></script>
  </body>
</html>
