<!DOCTYPE html>
<html>
  <head>
    <title>{{{title}}}</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <ul class="list-group">
        {{#each pictures}}
            <li class="list-group-item"><img src="data:image/png;base64,{{content}}" alt="{{id}}"></li>
        {{/each}}
    </ul>
    <script src='/js/jquery.min.js'></script>
    <script src='/js/bootstrap.min.js'></script>
  </body>
</html>